<div>
  <link rel="stylesheet" href="../assets/css/grid.css">
  <div class="grid-gallery">
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    {% for photo in site.data.photos %}
      <div class="grid-item"> 
        <a href="https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/1280/{{ photo.img }}.jpg" data-lightbox="facility"> 
          <img 
            class="lazyload"
            data-sizes="auto"
            data-src="https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/1024/{{ photo.img }}.jpg 1024w"
            data-srcset="https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/720/{{ photo.img }}.jpg 720w,
            https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/1024/{{ photo.img }}.jpg 1024w,
            https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/1280/{{ photo.img }}.jpg 1280w,
            https://archwoodassistedliving-media.s3.us-west-2.amazonaws.com/img/facility/1920/{{ photo.img }}.jpg 1920w"
            alt="{{ photo.description }}"
          >
        </a> 
      </div>
    {% endfor %}
    <script src="../assets/js/lazysizes.min.js"> async</script>
    <script src="../assets/js/lightbox-plus-jquery.min.js"> async</script>
    <script>
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      })
    </script>
  </div>
</div>





