<div class = "container-cards">
    {% for service in site.data.services %}
        <div class="card align-items-stretch">
        <img 
            class="card-img-top lazyload"
            data-sizes="auto"
            data-src="https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/processed-images-720/{{ service.img }}"
            data-srcset="https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/processed-images-480/{{ service.img }} 480w,
            https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/processed-images-720/{{ service.img }} 720w,
            https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/processed-images-1024/{{ service.img }} 1024w,
            https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/processed-images-1280/{{ service.img }} 1280w"
            >
            <div class="card-body">
                <h5 class="card-title" sytle="display: inline-flex; align-items: stretch;">{{ service.title }}</h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
    {% endfor %}
    <script src="../assets/js/lazysizes.min.js"> async</script>
</div>