.card {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 25rem;
  color: #3d3852;
  margin: 0 1.125rem 2rem;
  background: #fff;
  transition: all 250ms;
  box-shadow: 0 0 1.25rem #ccc;
  border: 1px solid #eee;
}

.card:hover {
  box-shadow: 0 0 1.25rem #666;
  background: #f2f6f9;
  border-color: #aaa;
  transform: translateY(-10px);
}