.container-header {
    position: relative;
    text-align: center;
    padding: 3rem; /* Adjust padding as needed */
}

.container-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust the overlay color and opacity */
    z-index: 0;
}

.container-header h1 {
    margin-bottom: 0; /* Remove default margin for better centering */
    position: relative;
    z-index: 1; /* Ensure the text is above the overlay */
}