.container-header {
    position: relative;
    width: 100%;
    height: 25vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.container-header h1 {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}


@media screen and (min-width: 768px) {
    .header-service {
        background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/nurse-help.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .header-photo {
        background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/home.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}


.container-hero {
    height: 75vh;
    background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/facility/IMG_5578-hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 0 auto;
}


.bottom-left-button {
    position: absolute;
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}