.container-header {
    position: relative;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.container-header h1 {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}




@media screen and (min-width: 768px) {
    .header-service {
        background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/nurse-help.jpg') center/cover no-repeat;
        background-attachment: fixed;
    }

    .header-photo {
        background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/stock/home.jpg') center/cover no-repeat;
        background-attachment: fixed;
    }
}

.container-hero {
    position: relative;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: left;
    align-items: bottom;
}

.header-hero {
    background: url('https://website-archwood-assited-living-img.s3.us-west-2.amazonaws.com/facility/IMG_5578-hero.jpeg') center/cover no-repeat;
    background-attachment: fixed;
}